/*
    0 - 600px:   phone
    600 - 900px: Tablet portrait
    900 - 1200px: Tablet Landscape
    [1200 - 1800px]:  is where our normal styles apply
    1800px + : Big desktop


    $breakpoint argument choices : 
    -  phone
    -  tab-port
    -  tab-land
    -  big-desktop
    OEDER: base + typography > Genral layout > grid > page layout > components

    1em = 1px
    */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    /* transform: translateY(-1rem); */ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    /* transform: translateY(1rem); */ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    /* transform: translateY(1rem); */ }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    /* transform: translateY(1rem); */ }
  100% {
    opacity: 1;
    transform: translateY(0); } }

:root {
  --primary-color: rgb(220, 202, 8);
  --light-primary-color: rgb(245, 239, 174); }

.prim-color {
  background-color: var(--primary-color);
  color: white; }

.nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: white;
  outline: none; }

.navbar-toggler {
  color: white;
  border-color: white; }

.navbar-toggler:focus {
  box-shadow: none; }

.navbar-toggler[aria-expanded="true"] {
  border-color: gray; }

.main-btn {
  background-color: white;
  padding: 1rem 5rem;
  text-transform: capitalize;
  font-size: 1.6rem; }
  .main-btn:hover {
    background-color: black;
    color: white; }

.secondery-btn {
  background-color: black;
  text-transform: capitalize;
  color: white;
  padding: 1rem 5rem; }
  .secondery-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black; }

.logo-img {
  width: 7rem;
  margin-left: 8rem; }

.main-title::after {
  content: "";
  width: 120px;
  position: absolute;
  height: 2px;
  background-color: var(--primary-color);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%); }

.landing {
  height: 80vh;
  background-color: var(--primary-color); }

.features .icon-holder {
  height: 200px;
  left: 50%;
  transform: translateX(-50%); }
  .features .icon-holder .number {
    font-size: 12rem;
    opacity: .03; }
  .features .icon-holder .icon {
    color: var(--primary-color); }

.our-work {
  background-color: var(--light-primary-color); }
  .our-work ul.active {
    background-color: white; }
  .our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer; }
    .our-work ul li:not(.active):hover {
      color: var(--primary-color); }
  .our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative; }
    .our-work .box::before {
      content: attr(data-work);
      position: absolute;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      background-color: rgba(181, 163, 0, 0.457);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
      transition: all 0.3s ease-in;
      font-size: 1.5rem;
      transform: translateX(calc(-100% - 5px)); }
    .our-work .box:hover::before {
      transform: translateX(0); }

.stuff {
  margin-top: 15rem; }
  .stuff .description {
    max-width: 50rem; }

.team {
  background-color: var(--light-primary-color); }
  .team .box h4 {
    background-color: var(--primary-color);
    color: white; }

.project {
  background-color: var(--primary-color); }

.subscribe {
  background-color: lightgray; }
  .subscribe .input-felid {
    border: none;
    border-bottom: 1px solid var(--light-primary-color); }
    .subscribe .input-felid:focus {
      outline: none; }

.footer {
  background-color: var(--primary-color); }

:root {
  --primary-color: rgb(220, 202, 8);
  --light-primary-color: rgb(245, 239, 174); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Tajawal', sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  font-weight: 400;
  direction: rtl; }
