.prim-color {
    background-color: var(--primary-color);
    color: white;
    
}
.plight-color{
    background-color: var(--light-primary-color);
}
.linar-color{
    background-image:linear-gradient(to right, #C0C0C0, #e0e0e0,#f4f1f1 );
}
.navbar.scrolled {
    background-color: var(--primary-color); 
    border-bottom: 1px solid white;
    animation: showHidden 0.7s linear ;
}
.nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: black;
  
    outline:none
}

.navbar-toggler {
    color: gray;
    border-color:gray ;
    font-size: 2.5rem;
    &:focus {
        box-shadow: none;
    }
    &[aria-expanded="true"] {
        border-color:lightgray ;
        color:lightgray ;
    
    }
}

.blurred-image {
    filter: blur(3px); /* Apply the blur */    
    
  }
.contact-icons {
    position: fixed;
    bottom: 2rem;
    left:2rem;
    z-index: 1030;
}
.contact-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: black;
    margin-top: 10px;
    transition: transform 0.3s;
    border: none;
    &:hover {
        background-color: var(--primary-color);
        transform: scale(1.1);
        border: none;
    }
}

.icon-label {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(10px);
    margin-left: 1rem;
}
.contact-item:hover .icon-label {
    opacity: 1;
    transform: translateX(0);
    
}
.slide-image {
    width: 100%;
    height: 70rem; 
    object-fit: cover; 
    object-position: center; 
}
.slide-container {
    width: 100%;
    max-width: 90rem; /* Adjust this value as needed */
    margin: 0 auto; /* Centers the container */
}
.animated-button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    
    animation: scaling 1.5s  infinite; 
}
.animated-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
    animation: scaling 0s ease infinite; 
}
.animated-button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
dialog {
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}
#closeDialog {
    background-color: #f44336;
    color: white;
    padding:0.2rem 1rem;
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;
    cursor: pointer;
}
////////////////////////////////
.main-btn {
    background-color: white;
    padding: 1rem 5rem;
    text-transform: capitalize;
    font-size: 1.6rem;
    &:hover {
    
        background-color: black;
        color: white;
    }
}
.secondery-btn {
    background-color: black;
    text-transform: capitalize;
    color: white;
    padding: 1rem 5rem;
    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    
}
.logo-img {
    width: 7rem;
    margin-left: 8rem;
}
.main-title{
    font-size: 2rem;
    &::after {
        content: "";
        width: 120px;
        position: absolute;
        height: 2px;
        background-color: var(--primary-color);
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.landing {
    background-color: var(--linear-color);
}
.service-card {
    margin-top: 5rem;
    height: 50rem;
       
        transition: transform 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

      
       &:hover {
        transform: rotate(1deg) scale(1) translateY(-20px);

        
    }
    & >img {
        height: 20rem;
    }
   
}
.stuff {
    margin-top: 10rem;
    margin-bottom: 10rem;

    
}
.services {
    margin-bottom: 10rem;

}
.our-work {
    margin-bottom: 10rem;

    background-color: var( --light-primary-color);
    & ul {
        &.active {
            background-color: white;
            
        }
        & li {
            padding: 0.5rem 1rem;
            cursor: pointer;
            &:not(.active):hover {
                color: var(--primary-color);
            }
            
        }
    }
    & .box {
        padding: 5px;
        overflow: hidden;
        position: relative;
        
    }
}
.rate {
    margin-bottom: 10rem;

}
.footer {
    background-color: var(--primary-color);
}
//BTN Show And Hidden Cases
.initial-image {
    transition: all 1s ease-in-out;
}
.hidden-image {
  
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;
}
.show {
    opacity: 1;
    height: auto;
    overflow: visible;
    transition: all 1s ease-in-out;

}
